export(addFilter)
export(computeFunctionByFactors)
export(computeStats)
export(computeStats.dataframe)
export(computeStats.matrix)
export(computeStats.vector)
export(count)
export(deleteCol)
export(deleteCols)
export(doMenu)
export(dropNAs)
export(formatZeros)
export(getCSV)
export(getFactorLevels)
export(getFunctionName)
export(getOperatingSystem)
export(keepCols)
export(mod)
export(my.lapply)
export(pause)
export(rebinColumn)
export(sortBy)
export(sumBy)
export(trimByResiduals)
export(unstackDataframe)
importFrom(tcltk,tk_choose.files)
